<% provide(:title, 'Projects') %>
<body>

    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
			<li> <%= link_to "Home", static_pages_home_path %> </li>
			<li> <%= link_to "About", static_pages_help_path %> </li>
			<li class="active"> <a href="#"> Projects </li>
			<li> <a href="resumepg">Resume</a> </li>
		    <li> <%= link_to "Fun", static_pages_fun_path %> </li>
	    </ul>
      </div>
    </div>

	<section id="intro">
		<div class="container-fluid">
			<div class="span12">
				<header>
					<h2>Projects</h2>
				</header>
				<p>  This section is still making the transition from my previous site to this rails based version. </p>
			</div>
		</div>
	</section>
	
</body>
