<!doctype html>
<html lang="en">
<head>
	<title>Liesl Wigand: Computer Scientist, Graduate Student</title>
	<link rel="stylesheet" href="styles.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="print.css" media="print" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
<script type="text/javascript" src="js/equalcolumns.js"></script> 
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

	<header>
		<h1>Liesl Wigand: Person In Progress</h1>
	</header>
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li class="selected"><a href="#">About</a></li>
			<li><a href="exproj.html">Projects</a></li>
			<li><a href="resumepg.html">Resum&eacute;</a></li>
			<li><a href="fun.html">Fun</a></li>
		</ul>
	</nav>
	<section id="intro">
		<header>
			<h2>About</h2>
		</header>
		<p> This website is hosted by the University of Nevada, Reno, Computer Science and Engineering department. It was created using HTML5 templates, and Images from various artists who are listed below: Contact me if you want something taken down: wigandlm@gmail.com </p>
		<!--<img src="images/introimage.png" alt="lime" />-->
	</section>
	
	<section id="content">
				<ul class="column">
				    <!--eqblock-->
				    <li>
				        <section class="block">
									<a href="#"><img src="images/2-thumb.jpg" alt=""  /></a> 
										<h2>Artists</h2> 
										<p> I used a lot of very nice images found on deviantart, and I am listing them in the <a href="gallery.html">gallery</a>. </p> 
				        </section>
				    </li>

				    <!--eqblock-->
				    <li>
				        <section class="block">
									<a href="#"><img src="images/1-thumb.jpg" alt=""  /></a> 
										<h2>Bootstrap</h2> 
										<p> <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> is a nice framework that provides useful classes for formating HTML pages like this one. </p> 
				        </section>
				    </li>
				</ul>
		</section>
		
	<footer>
    <section>
    <h3>Hosted by:</h3>
    <p><a href="http://cse.unr.edu">University of Nevada Reno Computer Science Department. <p>&copy; 2010 <a href="http://www.cse.unr.edu/~lieslw/" title="Liesl Wigand">http://www.cse.unr.edu/~lieslw/.com</a> All rights reserved.</p></a></p>
    </section>
    
    <section>
    <h3>Built with:</h3>
    <p>Standard HTML, and some bootstrap features.</p>
    </section>
    
    <section>
    <h3>Images from:</h3>
    <p>Also: Art by various deviantart Artists: <a href="http://kutsche.deviantart.com/">Selfillumination, by Kutsche</a>; <a href="http://thompson46.deviantart.com">It's my Flower, by Thompson</a>; <a href="http://randis.deviantart.com">GOLEM - toys and magic, by ~randis</a>; <a href="http://jujika.deviantart.com">The Workstation2, by ~Jujika</a>; <a href="http://oddocean.deviantart.com">Warm, by ~oddocean</a>; <a href="http://freaky665.deviantart.com">Lust for Love, by *freaky665</a>; <a href="http://begemott.deviantart.com">the exchange of flowers-color, by *begemott</a> <!--:Saved:images/5-thumb.jpg, images/7-thumb.jpg--> </p>
    </section>

	</footer>
<!-- Free template created by http://freehtml5templates.com -->
</body>
