<% provide(:title, 'About') %>
<body>

    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
			<li> <%= link_to "Home", static_pages_home_path %> </li>
			<li class="active"> <a href="#">About</a> </li>
			<li> <%= link_to "Projects", static_pages_exproj_path %> </li>
			<li> <%= link_to "Resume", static_pages_resume_path %> </li>
		    <li> <%= link_to "Fun", static_pages_fun_path %> </li>
	    </ul>
      </div>
    </div>

	<section id="intro">
		<div class="container-fluid">
			<div class="span12">
				<header>
					<h2>About</h2>
				</header>
				<p> This website is hosted by the University of Nevada, Reno, Computer Science and Engineering department. It was created using HTML5 templates, and Images from various artists who are listed below: Contact me if you want something taken down: wigandlm@gmail.com </p>
			</div>
		</div>
	</section>
	
	<div class="container-fluid" id="content">
		<!--eqblock-->
		<div class="span4 backed">
			<div class="pagination-centered"><a href="#"><img src="images/2-thumb.jpg" alt=""  /></a></div>
			<h3>Artists</h3> 
			<p> I used a lot of very nice images found on deviantart, and I am listing them in the <a href="gallery">gallery</a>. </p> 
		</div>

		<!--eqblock-->
		<div class="span4 backed">
			<div class="pagination-centered"><a href="#"><img src="images/1-thumb.jpg" alt=""  /></a></div>
			<h3>Bootstrap</h3> 
			<p> <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> is a nice framework that provides useful classes for formating HTML pages like this one. </p> 
		</div>
	</div>
</body>
