<% provide(:title, 'About') %>
<body>
	<section id="intro">
		<header>
			<h2>About</h2>
		</header>
		<p> This website is hosted by the University of Nevada, Reno, Computer Science and Engineering department. It was created using HTML5 templates, and Images from various artists who are listed below: Contact me if you want something taken down: wigandlm@gmail.com </p>
		<!--<img src="images/introimage.png" alt="lime" />-->
	</section>
	
	<section id="content">
				<ul class="column">
				    <!--eqblock-->
				    <li>
				        <section class="block">
									<a href="#"><img src="assets/images/2-thumb.jpg" alt=""  /></a> 
										<h2>Artists</h2> 
										<p> I used a lot of very nice images found on deviantart, and I am listing them in the <a href="gallery">gallery</a>. </p> 
				        </section>
				    </li>

				    <!--eqblock-->
				    <li>
				        <section class="block">
									<a href="#"><img src="assets/images/1-thumb.jpg" alt=""  /></a> 
										<h2>Bootstrap</h2> 
										<p> <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> is a nice framework that provides useful classes for formating HTML pages like this one. </p> 
				        </section>
				    </li>
				</ul>
		</section>
<!-- Free template created by http://freehtml5templates.com -->
</body>
