<!doctype html>
<html lang="en">
<head>
	<title>Liesl Wigand: Computer Scientist, Graduate Student</title>
	<link rel="stylesheet" href="styles.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="print.css" media="print" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
<script type="text/javascript" src="js/equalcolumns.js"></script> 
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

	<header>
		<h1>Liesl Wigand: Person In Progress</h1>
	</header>
	<nav>
		<ul>
			<li class="selected"><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Work</a></li>
			<li><a href="#">Resume</a></li>
			<li><a href="#">Fun Stuff</a></li>
		</ul>
	</nav>
	<section id="intro">
		<header>
			<h2>This Homepage is a work in progress. Always.</h2>
		</header>
		<p> This is a Hollowed out homepage. </p>
		<img src="images/introimage.png" alt="lime" />
	</section>
	
	<section id="content">
				<ul class="column">
				    <!--eqblock-->
				    <li>
				        <section class="block">
									<a href="#"><img src="images/1-thumb.jpg" alt=""  /></a> 
										<h2><a href="#">Exciting Projects</a></h2> 
										<p> Descriptions of several projects I have worked on in the past. </p> 
				        </section>
				    </li>

				    <!--eqblock-->
				    <li>
				        <section class="block">
									<a href="#"><img src="images/2-thumb.jpg" alt=""  /></a> 
										<h2><a href="#"> Section2 </a></h2> 
										<p> description </p> 
				        </section>
				    </li>

				    <!--eqblock-->
				    <li>
				        <section class="block">
									<a href="#"><img src="images/6-thumb.jpg" alt=""  /></a> 
										<h2><a href="#">Resume</a></h2> 
										<p> The short of it. </p> 
				        </section>
				    </li>

				    <!--eqblock-->
				    <li>
				        <section class="block">
									<a href="#"><img src="images/3-thumb.jpg" alt=""  /></a> 
										<h2><a href="#"> Random Fun Stuff </a></h2> 
										<p> Comics, Games, Books. </p> 
				        </section>
				    </li>
				</ul>
		</section>
		
	<footer>
    <section>
    <h3>What do I put in here?</h3>
    <p>Left aligned text here. Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio augue. Morbi congue auctor interdum. Phasellus sit amet metus justo.</p>
    <p>Next line here</p>
    </section>
    
    <section>
    <h3>How about here?</h3>
    <p>Center Text here. Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio augue. Morbi congue auctor interdum. Phasellus sit amet metus justo.</p>
    <p>Next line here</p>
    </section>
    
    <section>
    <h3>Credit</h3>
    <p>&copy; 2010 <a href="http://www.cse.unr.edu/~lieslw/" title="Liesl Wigand">http://www.cse.unr.edu/~lieslw/.com</a> All rights reserved.</p>
    <p>Also: Art by various deviantart Artists: <a href="http://kutsche.deviantart.com/">Selfillumination, by Kutsche</a>; <a href="thompson46.deviantart.com">It's my Flower, by Thompson</a>; <a href="randis.deviantart.com">GOLEM - toys and magic, by ~randis</a>; <a href="jujika.deviantart.com">The Workstation2, by ~Jujika</a>; <a href="oddocean.deviantart.com">Warm, by ~oddocean</a>; <a href="freaky665.deviantart.com">Lust for Love, by *freaky665</a>; <a href="begemott.deviantart.com">the exchange of flowers-color, by *begemott</a> :Saved:images/5-thumb.jpg, images/7-thumb.jpg </p>
    </section>

	</footer>
<!-- Free template created by http://freehtml5templates.com -->
</body>
</html>