<% provide(:title, 'Home') %>
<body>

	<section id="intro">
		<header>
			<h2>This Homepage is a work in progress. Always.</h2>
		</header>
		<p> This is a Hollowed out homepage. </p>
		<img src="assets/images/introimage.png" alt="lime" />
	</section>
	
	<section id="content">
				<ul class="column">
				    <!--eqblock-->
				    <li>
				        <section class="block">
									<a href="#"><img src="assets/images/1-thumb.jpg" alt=""  /></a> 
										<h2><a href="#">Exciting Projects</a></h2> 
										<p> Descriptions of several projects I have worked on in the past. </p> 
				        </section>
				    </li>

				    <!--eqblock-->
				    <li>
				        <section class="block">
									<a href="#"><img src="assets/images/2-thumb.jpg" alt=""  /></a> 
										<h2><a href="#"> Section2 </a></h2> 
										<p> description </p> 
				        </section>
				    </li>

				    <!--eqblock-->
				    <li>
				        <section class="block">
									<a href="#"><img src="assets/images/6-thumb.jpg" alt=""  /></a> 
										<h2><a href="#">Resume</a></h2> 
										<p> The short of it. </p> 
				        </section>
				    </li>

				    <!--eqblock-->
				    <li>
				        <section class="block">
									<a href="#"><img src="assets/images/3-thumb.jpg" alt=""  /></a> 
										<h2><a href="#"> Random Fun Stuff </a></h2> 
										<p> Comics, Games, Books. </p> 
				        </section>
				    </li>
				</ul>
		</section>

<!-- Free template created by http://freehtml5templates.com -->
</body>