<% provide(:title, 'Fun Books') %>
<body>

    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
			<li><a href="home">Home</a></li>
			<li><a href="help">About</a></li>
			<li><a href="exproj">Projects</a></li>
			<li><a href="resumepg">Resume</a></li>
		    <li class="active"><a href="fun"><i>Fun</i></a></li>
	    </ul>
      </div>
    </div>
	<section id="intro">
		<h2><strong>Fun:</strong> Books</h2>
		<p class="lead"> Here's some recommendations and reviews. </p>
	</section>
	
	<section id="content">
	    <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <ul class="nav nav-list">
                      <li class="nav-header"><a href="fun.html">Home</a></li>
                      <li class="active"><a href="#"><i class="icon-book"></i> Books</a></li>
                      <li><a href="subFunGames"><i class="icon-facetime-video"></i> Games</a></li>
                      <li><a href="subFunComics"><i class="icon-comment"></i> Comics</a></li>
                      <li><a href="subFunEtc"><i class="icon-star"></i> Etc</a></li>
                    </ul>
                </div>
                <div class="span10">
                    <div class="row-fluid" id="textcontent">
                    <a href="http://browse.deviantart.com/art/Witches-Abroad-178534178"><img id="textcontent" style="float:left" src="http://th04.deviantart.net/fs70/200H/f/2010/251/d/9/witches_abroad_by_kojiro-d2yaluq.jpg"/></a>
                    <h3>Witches Abroad, Terry Pratchett</h3>
                    <p>To begin with, Terry Pratchett is a great author. I've read most of his recent books, and a few of the older (published in the 80's) books. They are all good. Deep, funny adventures that make fun of everything at some point. This is just the one I'm currently reading. An old witch dies and leaves her position as fairy godmother to three other witches.  </p>
                    </div>
                    <div class="row-fluid" id="textcontent">
                    <a href="http://browse.deviantart.com/art/Good-Omens-72751716"><img id="textcontent" style="float:left" src="http://th09.deviantart.net/fs22/200H/f/2007/356/c/2/Good_Omens_by_rhianimated.jpg"/></a>
                    <h3>Good Omens, Neil Gaimen and Terry Pratchett</h3>
                    <p>A book about the end of the world. Demons, angels, the anti-Christ, withfinders, witches, and a book of prophecies, which all manage to get lost and found as the end approaches. It is absolutely hilarious in spite of the whole apocalypse thing. </p>
                    </div>
                    <div class="row-fluid" id="textcontent">
                    <a href="http://www.us.penguingroup.com/static/packages/us/yreaders/savvy/extras.php"><img id="textcontent" style="float:left" src="http://www.us.penguingroup.com/static/packages/us/yreaders/savvy/im/savvy_wallpaper_01_small.jpg"/></a>
                    <h3>Savvy, Ingrid Law</h3>
                    <p>A story about a family of superpowered average people. They don't save the world, but they survive it with such crazy gifts as sneezing backwards in time, getting people to believe anything you write. A lovely pair of books about family, growing-up, and finding your place.</p>
                    </div>
                    <div class="row-fluid" id="textcontent">
                    <a href="http://browse.deviantart.com/art/Holes-Book-Cover-54547907"><img id="textcontent" style="float:left" src="http://th03.deviantart.net/fs18/200H/f/2007/123/5/c/Holes___Book_Cover_Design_by_Keriberrygirl.jpg"/></a>
                    <h3>Holes, Louis Sachar</h3>
                    <p>A story with many stories in it, everything falls into place at the end, and everything is perfectly timed. A boy is falsely convicted and sent to a detention center in a desert, where he finds the beginning and ending of the legend of his family's curse, the great bandit Kissin' Kate, and the rainless Camp Green Lake.</p>
                    </div>
                    <div class="row-fluid" id="textcontent">
                    <a href="http://viccolatte.deviantart.com/art/Wearing-The-Cape-Book-Cover-288233913"><img id="textcontent" style="float:left" src="http://th08.deviantart.net/fs70/200H/f/2012/062/a/9/wearing_the_cape_book_cover_by_viccolatte-d4rlupl.jpg"/></a>
                    <h3>Wearing the Cape, Marion G. Harmon</h3>
                    <p>A superhero novel. It explores the realistic results of the development of super powers, and the resulting changes in politics, lifestyle, and crime. Also there's superheros beating villains and saving the world.</p>
                    </div>
                </div>
            </div>
        </div>
	</section>
</body>