@import "bootstrap";

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #617C58;
  background-color: #3E3535;
  background: #3E3535 url("../images/escheresque_steLight.png") repeat;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
nav,
section {
  display: block;
  background: #283142 url("../images/asfalt283142Light.png") repeat;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  margin: 20px;
}

#content {
    background: #283142 url("../images/wave617c58.png") repeat;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    margin: 20px;
    border-radius: 6px;
}

#contentGallery {
    background: #283142 url("../images/wave617c58.png") repeat;
    height: 880px;
}

#carouselMine {
    text-align: center
}

#textcontent {
    background: #283142 url("../images/asfalt283142Light.png") repeat;
    -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
    margin: 5px 5px 5px 5px;
}

#imagecontent {
    margin: 10px 10px 10px 10px;
    max-width: 97%;
}

.backed {
  background: #283142 url("../images/asfalt283142Light.png") repeat;
  border-radius: 6px;
}

.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin: 5px;
  background: #283142 url("../images/asfalt283142Light.png") repeat;
}